body {
    background: url(https://ak0.picdn.net/shutterstock/videos/8774080/thumb/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
